* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: rgba(125, 125, 125, 0.8);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
}
